body {
    background-color: white;
}


.tech {
    color: green;
    padding: 20px;
    margin: 15px;
}

.CSS {
    color: red;
    padding: 20px;
    margin: 15px;
}

.boxmodel {
    color: blue;
    padding: 20px;
    margin: 15px;
}

h1 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

